.background {
  background-image: url("background.png");
  background-size: cover;
  width: 100vw;
  background-position: center;
  background-attachment:fixed;
  overflow: hidden;
}
.wrapper {
  padding: 32px;
}
.text-box {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%);
  width: 60%;
  margin: 0 auto 96px auto;
  text-align: center;
  h1 {
    padding: 72px 32px 0px 32px;
  }
  p {
    margin: 40px 72px;
    font-weight: 300;
  }
}
.line {
  width: 160px;
  height: 1px;
}

