.roles-spacing {
  text-align: left !important;
  word-break: break-word;
  @media (min-width: 577px) {
  }
  padding: 32px 36px 32px 6px;
  p {
  line-height: 1.5;
    @media (min-width: 577px) {
      margin: 0px 10px 8px 0px;
      line-height: 1.5;
      margin-bottom: 8px;
    }
    @media (max-width: 576px) {
      margin: 0px 0px 8px 0px;
      font-size: 12px;
    }
  }
  a {
    color: rgb(150, 150, 150);
  }
  a:hover {
    text-decoration: underline;
  }
}
.roles-title {
  font-size: 14px;
  @media (min-width: 577px) {
    margin: 34.5px 0px 0px 16px;
  }
  @media (max-width: 576px) {
    margin: 34.5px 0px 0px 0px;
    font-size: 12px;
  }
  text-align: right;
  padding: 0px !important;
}
.io {
  @media (max-width: 576px) {
    margin-left: 24px;
  }
}
.role-padding-right {
    padding-right: 5px;
}
.role-padding-right {
  margin-right: 0px;
}
.stag-break {
  height: 16px;
  margin: 40px 0px;
}
.padding-lg {
  padding-bottom: 72px;
  padding-top: 2px;
}
.margin-bottom {
  margin-bottom: 48px;
}
