<div class="footer">
  <div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552294132/white-logo.png",:class=>"white-logo") %>
    <div>
      <ul class="no-bullets contact-details">
        <li><p class="footer-text">185 ST VINCENT STREET</p></li>
        <li><p class="footer-text">GLASGOW</p></li>
        <li><p class="footer-text">G2 5QD</p></li>
      </ul>
    </div>
    <div>
      <ul class="no-bullets contact-details">
        <li><p class="footer-text">T: +44 (0)141 724 0153</p></li>
        <li><p class="footer-text">M: +44 (0)7767 432 203</p></li>
        <li>E:&nbsp<a href="mailto:david@hunteradvisers.co.uk">david@hunteradvisers.co.uk</a></li>
      </ul>
    </div>
    <div class="visible-xs visible-sm contact-details">
      <p class="footer-text">V&A Dundee photos credit: ©Hufton+Crow</p>
    </div>
  </div>
  <div class="hidden-xs hidden-sm contact-details">
    <p class="credit-margin footer-text">V&A Dundee photos credit: ©Hufton+Crow</p>
  </div>
</div>

