<div class="text-box text-box-padding-sm">
  <h1>CONTACT US</h1>
  <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
  <div class="container-contact">

    <div class="row row-padding">
      <div class="col-xs-12 col-md-6">
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1553431198/dh-london.png",:class=>"logo-contact") %>
        <h2 class="contact-padding-none">DAVID HUNTER</h2>
        <p class="contact-text">DIRECTOR</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1554301604/mm-2019.jpg",:class=>"logo-contact mm-contact") %>
        <h2 class="contact-padding-none">MAIRI MURRAY</h2>
        <p class="contact-text">PERSONAL ASSISTANT</p>
      </div>
    </div>

  </div>
  <div id="address">
    <p>185 ST VINCENT STREET</p>
    <p>GLASGOW</p>
    <p>G2 5QD</p>
    <p>T: +44 (0)141 204 4041</p>
    <p>M: +44 (0)7767 432 203</p>
    <p>E:&nbsp<a href="mailto:david@hunteradvisers.co.uk">david@hunteradvisers.co.uk</a></p>
  </div>
  <div id="map-margin">
    <iframe width='100%' height='450px' id='mapcanvas' src='https://maps.google.com/maps?q=185%20st%20vincent%20street,%20glasgow&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm"><a rel="nofollow"  href="">here</a></div><div style='overflow:hidden;'><div id='gmap_canvas'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>
  </div>
</div>
