<div class="text-box">
  <h1>CONTACT US</h1>
  <hr>
  <div id="address">
    <p>185 ST VINCENT STREET</p>
    <p>GLASGOW</p>
    <p>G2 5QD</p>
    <p>T: +44 (0)141 204 4041</p>
    <p>M: +44 (0)7767 432 203</p>
    <p><a href="mailto:david@hunteradvisers.co.uk">E:&nbspdavid@hunteradvisers.co.uk</a></p>
  </div>
  <div class="container-contact">
    <div class="row row-padding">
      <div class="col-xs-12 col-md-6">
        <%= image_tag 'dh.png', class: "logo-contact" %>
        <h2 style="padding-top: 0px;">DAVID HUNTER</h2>
        <p class="contact-text">DIRECTOR</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag 'dh.png', class: "logo-contact mm-contact" %>
        <h2 style="padding-top: 0px;">MAIRI MURRAY</h2>
        <p class="contact-text">PERSONAL ASSISTANT</p>
      </div>
    </div>
  </div>
</div>
