<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>
<%= image_tag 'shade.png', class: "shade" %>
<!-- <div class="background"> -->
  <div class="wrapper">
  <%= render "shared/navbar.html" %>
  </div>
  <div class="text-box">
    <h1>About Us</h1>
    <%= image_tag 'line.png', class: "line" %>
    <p style="font-weight: 400;">David Hunter, the founder of Hunter Advisers, is an International Property Consultant specialising in the creation, operation and turnaround of property funds and companies.</p>
    <p>David is currently chairman of two public companies, and director of another, overseeing investments in the UK, India, and South Africa. He also has private equity corporate advisory roles in the UK and France.</p>
    <p>He has over 25 years experience as a creative and high performing fund manager and until 2005 was Managing Director of Aberdeen Asset Management's £6.5bn UK and international property fund business.</p>
    <p>A former President of the British Property Federation, he had a key role in the introduction of REITs to the UK.</p>
    <p style="padding-bottom: 72px;">David Hunter specialises in situations which require strategic direction, management realignment or corporate restructuring. He divides his time between Scotland and London, travelling internationally as required.</p>
  </div>
<!-- </div> -->
<%= render "shared/footer.html" %>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

