<div class="text-box">
  <h1>CURRENT HONORARY ROLES</h1>
  <hr>
  <p>Conscious of his social duty to contribute to society, David Hunter has a number of honorary roles.</p>
  <p>Foremost among these is his role as Honorary Swedish Consul to Glasgow, a position he has held since 2003. In recognition of his achievements in this position, David was in 2011 appointed Knight First Class of the Order of the Polar Star, by His Majesty King Carl Gustaf.</p>
  <p>Also in 2011, he was appointed Honorary Professor in the Real Estate Department at Heriot-Watt University. This position allows him to share his uniquely broad practical experience with degree and masters students.</p>
  <p>In 2015 David was appointed to the Board of Dundee Design Limited, the company charged with delivering the spectacular new V&A Museum in Dundee. David's extensive background in property development is central to the delivery of this iconic project on time and on budget.</p>
  <p>David is also a Trustee of the Architectural Heritage Fund, a leading heritage charity founded in 1976 to help charities, community businesses and social enterprises across the UK find solutions for vulnerable historic buildings.</p>
  <a href="http://www.swedenglasgow.com/", target="_blank", class="card sweden-image">
    <div>
      <p class="title title-lg">SWEDISH CONSULATE IN GLASGOW</p>
      <hr>
      <p class="strapline">Providing consular services for Swedish nationals who are visitors or temporary residents in Glasgow and most of the rest of Scotland</p>
    </div>
  </a>
  <a href="https://www.hw.ac.uk/study/uk/postgraduate/subject/housing-real-estate.htm", target="_blank", class="card heriot-image">
    <div style="align-items: center;">
      <p class="title title-sm">HERIOT WATT UNIVERSITY, EDINBURGH</p>
        <hr>
      <p class="strapline strapline-hw">Honorary Professor in the Real Estate Department</p>
    </div>
  </a>
  <a href="https://www.vam.ac.uk/dundee", target="_blank", class="card vanda-image">
    <div>
      <p class="title title-lg">V&A DUNDEE</p>
        <hr>
      <p class="strapline">Member of the Board of Dundee Design Limited, the company which successfully delivered the spectacular new V&A Dundee</p>
    </div>
  </a>
  <a href="http://ahfund.org.uk/", target="_blank", class="card ahf-image">
    <div style="align-items: center;">
      <p class="title title-sm">ARCHITECTURAL HERITAGE FUND</p>
        <hr>
      <p class="strapline strapline-hw">Trustee of the leading UK heritage fund</p>
    </div>
  </a>
  <p>David also has had a number of honorary property industry roles, including Board membership of the British Property Federation, membership of the Property Advisory Group of the National Association of Pension Funds, and membership of the Bank of England Property Forum.</p>
  <p>In 2013, David was appointed an Honorary Life member of the British Property Federation.</p>
</div>
