<div class="text-box">
  <h1>CORPORATE ROLES</h1>
  <hr>
  <div class="container-roles">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="roles-title">CUSTODIAN REIT PLC</h1>
      </div>
      <div class="col-xs-6 roles-spacing">
        <p>UK</p>
        <p>Chairman</p>
        <p><a href="https://www.custodianreit.com/" target="_blank" class="external-link external-link-size">www.custodianreit.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h1 class="roles-title">ICG-LONGBOW</h1>
      </div>
      <div class="col-xs-6 roles-spacing">
        <p>UK</p>
        <p>Chairman</p>
        <p><a href="https://www.lbow.co.uk/" target="_blank" class="external-link external-link-size">www.lbow.co.uk</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h1 class="roles-title">IO ASSET MANAGEMENT</h1>
      </div>
      <div class="col-xs-6 roles-spacing">
        <p>UK</p>
        <p>Non-Executive Chairman</p>
        <p><a href="https://www.ioam.co.uk/" target="_blank" class="external-link external-link-size">www.ioam.co.uk</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h1 class="roles-title">QUILVEST GLOBAL</h1>
      </div>
      <div class="col-xs-6 roles-spacing">
        <p>Global</p>
        <p>Member of Advisory Committee</p>
        <p><a href="https://www.quilvestprivateequity.com/strategies/real-estate" target="_blank" class="external-link external-link-size">www.quilvestprivateequity.com</a></p>
      </div>
    </div>
  </div>
</div>
