<div class="text-box" style="padding-bottom: 72px; padding-top: 2px;">
  <h1 style="margin-bottom: 48px;">CORPORATE ROLES</h1>
  <div class="container-roles">
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title io">CUSTODIAN REIT PLC</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Chairman</p>
        <p><a href="https://www.custodianreit.com/" target="_blank" class="external-link external-link-size">www.custodianreit.com</a></p>
      </div>
    </div>
    <%= image_tag 'stag-line.png', class: "stag-break" %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">ICG-LONGBOW</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Chairman</p>
        <p><a href="https://www.lbow.co.uk/" target="_blank" class="external-link external-link-size">www.lbow.co.uk</a></p>
      </div>
    </div>
    <%= image_tag 'stag-line.png', class: "stag-break" %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title io">IO ASSET MANAGEMENT</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Non-Executive Chairman</p>
        <p><a href="https://www.ioam.co.uk/" target="_blank" class="external-link external-link-size">www.ioam.co.uk</a></p>
      </div>
    </div>
    <%= image_tag 'stag-line.png', class: "stag-break" %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">QUILVEST GLOBAL</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>Global</p>
        <p>Member of Advisory Committee</p>
        <p><a href="https://www.quilvestprivateequity.com/strategies/real-estate" target="_blank" class="external-link external-link-size">www.quilvestprivateequity.com</a></p>
      </div>
    </div>
  </div>
</div>
