<div class="text-box padding-lg">
  <h1 class="margin-bottom">CORPORATE ROLES</h1>
  <div class="container-roles">
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title io">CAPITAL & REGIONAL</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Chairman</p>
        <p><a href="https://www.capreg.com/" target="_blank" class="external-link external-link-size">www.capreg.com</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">ICG</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Senior Adviser – Real Estate</p>
        <p><a href="https://www.icgam.com/strategies/real-assets-strategies/" target="_blank" class="external-link external-link-size">www.icgam.com/strategies/real-assets-strategies</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">QUILVEST GLOBAL</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>Global</p>
        <p>Senior Adviser</p>
        <p><a href="http://www.quilvestprivateequity.com/strategies/real-estate" target="_blank" class="external-link external-link-size">www.quilvestprivateequity.com</a></p>
      </div>
    </div>
  </div>
</div>
