<!-- <div class="text-box">
  <h1>FUND CONSULTANCY SERVICES</h1>
</div> -->
<div class="text-box">
  <h1>PROACTIVE NON-EXECUTIVE</h1>
  <div class="stag-break">
    <%= cl_image_tag("stag-line",height: 16) %>
  </div>
  <p>David Hunter's approach as a non-executive director is to discuss and understand shareholder objectives, then to work with management - either internal or outsourced - to meet these objectives.</p>
  <p>This is not a passive role and for a period can, if required, involve quasi-executive duties in close liaison with the manager.</p>
  <p>Often the non executive has to address historic and unaligned management contracts and fees. Hunter has strong experience of restructuring contracts to motivate managers to deliver the revised objectives.</p>
  <p>In property companies it is crucial that a proportion of the non executives understand the dynamics of the real estate market. As an experienced market practitioner, Hunter can assess the underlying portfolio, and guide shareholders on the realistic options.</p>
  <p>Non-executive directors require to balance strong and soundly based views with a need to achieve consensus in a board, where other strong views may exist. Hunter has a strong pedigree in achieving this consensus to the benefit of shareholders.</p>
</div>
<div class="text-box">
  <h1>CORPORATE ADVICE</h1>
  <div class="stag-break">
    <%= cl_image_tag("stag-line",height: 16) %>
  </div>
  <p>Hunter Advisers is in a position to offer corporate advice to all real estate related businesses, both in the UK and overseas.</p>
  <p>Typical clients include fund management businesses wishing guidance on reviewing, developing or implementing their business plan, investment funds wishing input on corporate strategy and entrepreneurs seeking to launch and finance new real estate ventures.</p>
  <p>Hunter brings a combination of local and international experience of markets and product development, as well as a clear understanding of the principles which create a successful business model.</p>
</div>
<div class="text-box">
  <h1>CREATING NEW FUNDS</h1>
  <div class="stag-break">
    <%= cl_image_tag("stag-line",height: 16) %>
  </div>
  <p>David Hunter has a wealth of experience in creating and managing property funds, including the exceptionally successful Chiswick Park Property Unit Trust.</p>
  <p>Hunter is happy to be consulted informally at the earliest conceptual stages of a fund. His initial advice will concentrate on the underlying investment opportunity, the deliverability of the anticipated returns and the likely investor appetite.</p>
  <p>If these issues are satisfied, the advice then evolves into the areas of structure, capital raising and target investors.</p>
  <p>On a successful fund launch, David Hunter is prepared to remain involved with the fund, either as an adviser or as a non-executive director. </p>
</div>
