<div class="text-box">
  <h1>PROACTIVE NON-EXECUTIVE DIRECTOR AND CHAIRMAN</h1>
  <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break no-bottom-margin") %>
  <p>David Hunter's approach as a non-executive director is to discuss and understand shareholder objectives, then to work with management - either internal or outsourced - to meet these objectives.</p>
  <p>His key philosophy is that investors must understand exactly what a company’s management and board are seeking to achieve. This provides a platform for accountability and for obtaining shareholder support for changes in direction where appropriate. </p>
  <p>As a chairman, David operates in a highly collegiate manner, ensuring that decisions are taken in a consensual way without diluting the scope for imaginative change where required.</p>
  <p>He is strongly supportive of management, but equally prepared to hold them to account if the company’s objectives are not being met.</p>
</div>
<div class="text-box">
  <h1>CORPORATE ADVICE</h1>
  <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break no-bottom-margin") %>
  <p>Hunter Advisers is in a position to offer corporate advice to all real estate related businesses, both in the UK and overseas.</p>
  <p>Typical clients include fund management businesses wishing guidance on reviewing, developing or implementing their business plan, investment funds wishing input on corporate strategy and entrepreneurs seeking to launch and finance new real estate ventures.</p>
  <p>David brings a combination of local and international experience of markets and product development, as well as a clear understanding of the principles which create a successful business model.</p>
</div>
