.footer {
  // background-color: #2C2C2C;
  // background-color: #3F4045;
  background-color: #1C242C;
  margin: 0;
  width: 100vw;
  padding: 24px 0px 24px 40px;
  color: white;
  @media (max-width: 576px) {
    text-align: center;
  padding: 40px 40px 48px 40px;
  }
}
.footer p {
  font-size: 12px;
  line-height: 26px;
}
.no-bullets {
  list-style:none;
  text-align: center;
  padding: 0px;
  @media (min-width: 576px) {
    width: 200px;
  }
}
.contact-details {
  margin-top: 20px;
}
.contact-details li {
  line-height: 12px;
}
.contact-details p {
  font-size: 10px;
  line-height: 16px;
  font-weight: 100;
  letter-spacing: 1px;
}
.contact-details a {
  font-size: 10px;
  letter-spacing: 1px;
  color: white !important;
}
.white-logo {
  width: 200px;
  padding-top: 10px;
}
